snippet pr "python prolog" b
# -*- coding: utf-8 -*-
from __future__ import print_function
$1
endsnippet

snippet main "python main function" b
def main():
	$1


if __name__ == '__main__':
	main()
endsnippet
