snippet pr "python prolog" b
# -*- coding: utf-8 -*-
from __future__ import unicode_literals
$1
endsnippet

snippet cl "python class" b
class $1($2): # {{{
	$3
# }}}
endsnippet

snippet main "python main function" b
def main():
	$1


if __name__ == '__main__':
	main()
endsnippet
